| State | Capital | Latitude | Longitude |
|---|---|---|---|
| Andhra Pradesh | Amaravati | 16.50° N | 80.62° E |
| Arunachal Pradesh | Itanagar | 27.10° N | 93.62° E |
| Assam | Dispur | 26.10° N | 91.38° E |
| Bihar | Patna | 25.60° N | 85.12° E |
| Chhattisgarh | Raipur | 21.15° N | 81.25° E |
| Goa | Panaji | 15.50° N | 73.82° E |
| Gujarat | Gandhinagar | 23.00° N | 72.62° E |
| Haryana | Chandigarh | 30.75° N | 76.80° E |
| Himachal Pradesh | Shimla | 31.10° N | 77.10° E |
| Jharkhand | Ranchi | 23.35° N | 85.30° E |
| Karnataka | Bengaluru | 12.97° N | 77.56° E |
| Kerala | Thiruvananthapuram | 8.50° N | 76.92° E |
| Madhya Pradesh | Bhopal | 23.25° N | 77.42° E |
| Maharashtra | Mumbai | 19.00° N | 72.85° E |
| Manipur | Imphal | 24.78° N | 93.93° E |
| Meghalaya | Shillong | 25.62° N | 91.88° E |
| Mizoram | Aizawl | 23.15° N | 92.72° E |
| Nagaland | Kohima | 25.65° N | 94.12° E |
| Odisha | Bhubaneswar | 20.25° N | 85.82° E |
| Punjab | Chandigarh | 30.75° N | 76.80° E |
| Rajasthan | Jaipur | 26.92° N | 75.80° E |
| Sikkim | Gangtok | 27.33° N | 88.62° E |
| Tamil Nadu | Chennai | 13.05° N | 80.25° E |
| Telangana | Hyderabad | 17.38° N | 78.48° E |
| Tripura | Agartala | 23.82° N | 91.25° E |
| Uttar Pradesh | Lucknow | 26.83° N | 80.95° E |
| Uttarakhand | Dehradun | 30.32° N | 78.05° E |
| West Bengal | Kolkata | 22.57° N | 88.38° E |

In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('states_lat_lon.csv')
data

        city  latitude  longitue
0     Mumbai   19.0760   72.8777
1      Delhi   28.7041   77.1025
2    Chennai   13.0843   80.2705
3    Kolkata   22.5744   88.3629
4  Bengaluru   12.9716   77.5946
5  Hyderabad   17.4065   78.4772
6  Ahmedabad   23.0225   72.5714
7       Pune   18.5204   73.8567