In [2]:
import requests

url = "https://air-quality.p.rapidapi.com/history/airquality"

querystring = {"lon":"79.0193","lat":"18.1124"}

headers = {
	"x-rapidapi-key": "6382b2d0dbmsh60bb1f6c23ea870p155ce0jsnc26410de4c73",
	"x-rapidapi-host": "air-quality.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

print(response.json())

{'city_name': 'Siddipet', 'country_code': 'IN', 'data': [{'aqi': 72, 'co': 80.5, 'datetime': '2025-03-04:10', 'no2': 3.3, 'o3': 134, 'pm10': 38.7, 'pm25': 22, 'so2': 23, 'timestamp_local': '2025-03-04T15:30:00', 'timestamp_utc': '2025-03-04T10:00:00', 'ts': 1741082400}, {'aqi': 76, 'co': 73.5, 'datetime': '2025-03-04:09', 'no2': 2, 'o3': 141, 'pm10': 37, 'pm25': 21, 'so2': 18, 'timestamp_local': '2025-03-04T14:30:00', 'timestamp_utc': '2025-03-04T09:00:00', 'ts': 1741078800}, {'aqi': 72, 'co': 80.9, 'datetime': '2025-03-04:08', 'no2': 2, 'o3': 138, 'pm10': 34.7, 'pm25': 20.67, 'so2': 17, 'timestamp_local': '2025-03-04T13:30:00', 'timestamp_utc': '2025-03-04T08:00:00', 'ts': 1741075200}, {'aqi': 69, 'co': 88.3, 'datetime': '2025-03-04:07', 'no2': 2, 'o3': 135, 'pm10': 32.3, 'pm25': 20.33, 'so2': 16, 'timestamp_local': '2025-03-04T12:30:00', 'timestamp_utc': '2025-03-04T07:00:00', 'ts': 1741071600}, {'aqi': 67, 'co': 95.7, 'datetime': '2025-03-04:06', 'no2': 2, 'o3': 132, 'pm10': 30, 'pm25': 20, 'so2': 15, 'timestamp_local': '2025-03-04T11:30:00', 'timestamp_utc': '2025-03-04T06:00:00', 'ts': 1741068000}, {'aqi': 77, 'co': 130.1, 'datetime': '2025-03-04:05', 'no2': 4.3, 'o3': 111.3, 'pm10': 34.3, 'pm25': 24.33, 'so2': 22.7, 'timestamp_local': '2025-03-04T10:30:00', 'timestamp_utc': '2025-03-04T05:00:00', 'ts': 1741064400}, {'aqi': 86, 'co': 164.6, 'datetime': '2025-03-04:04', 'no2': 6.7, 'o3': 90.7, 'pm10': 38.7, 'pm25': 28.67, 'so2': 30.3, 'timestamp_local': '2025-03-04T09:30:00', 'timestamp_utc': '2025-03-04T04:00:00', 'ts': 1741060800}, {'aqi': 95, 'co': 199, 'datetime': '2025-03-04:03', 'no2': 9, 'o3': 70, 'pm10': 43, 'pm25': 33, 'so2': 38, 'timestamp_local': '2025-03-04T08:30:00', 'timestamp_utc': '2025-03-04T03:00:00', 'ts': 1741057200}, {'aqi': 98, 'co': 201.1, 'datetime': '2025-03-04:02', 'no2': 9.7, 'o3': 63.3, 'pm10': 44.7, 'pm25': 34, 'so2': 40.7, 'timestamp_local': '2025-03-04T07:30:00', 'timestamp_utc': '2025-03-04T02:00:00', 'ts': 1741053600}, {'aqi': 100, 'co': 203.3, 'datetime': '2025-03-04:01', 'no2': 10.3, 'o3': 56.7, 'pm10': 46.3, 'pm25': 35, 'so2': 43.3, 'timestamp_local': '2025-03-04T06:30:00', 'timestamp_utc': '2025-03-04T01:00:00', 'ts': 1741050000}, {'aqi': 102, 'co': 205.4, 'datetime': '2025-03-04:00', 'no2': 11, 'o3': 50, 'pm10': 48, 'pm25': 36, 'so2': 46, 'timestamp_local': '2025-03-04T05:30:00', 'timestamp_utc': '2025-03-04T00:00:00', 'ts': 1741046400}, {'aqi': 108, 'co': 212.6, 'datetime': '2025-03-03:23', 'no2': 11.3, 'o3': 53.3, 'pm10': 48.7, 'pm25': 38.33, 'so2': 46.7, 'timestamp_local': '2025-03-04T04:30:00', 'timestamp_utc': '2025-03-03T23:00:00', 'ts': 1741042800}, {'aqi': 114, 'co': 219.8, 'datetime': '2025-03-03:22', 'no2': 11.7, 'o3': 56.7, 'pm10': 49.3, 'pm25': 40.67, 'so2': 47.3, 'timestamp_local': '2025-03-04T03:30:00', 'timestamp_utc': '2025-03-03T22:00:00', 'ts': 1741039200}, {'aqi': 121, 'co': 227, 'datetime': '2025-03-03:21', 'no2': 12, 'o3': 60, 'pm10': 50, 'pm25': 43, 'so2': 48, 'timestamp_local': '2025-03-04T02:30:00', 'timestamp_utc': '2025-03-03T21:00:00', 'ts': 1741035600}, {'aqi': 131, 'co': 261.8, 'datetime': '2025-03-03:20', 'no2': 16, 'o3': 57, 'pm10': 55.3, 'pm25': 47, 'so2': 52.7, 'timestamp_local': '2025-03-04T01:30:00', 'timestamp_utc': '2025-03-03T20:00:00', 'ts': 1741032000}, {'aqi': 142, 'co': 296.7, 'datetime': '2025-03-03:19', 'no2': 20, 'o3': 54, 'pm10': 60.7, 'pm25': 51, 'so2': 57.3, 'timestamp_local': '2025-03-04T00:30:00', 'timestamp_utc': '2025-03-03T19:00:00', 'ts': 1741028400}, {'aqi': 153, 'co': 331.5, 'datetime': '2025-03-03:18', 'no2': 24, 'o3': 51, 'pm10': 66, 'pm25': 55, 'so2': 62, 'timestamp_local': '2025-03-03T23:30:00', 'timestamp_utc': '2025-03-03T18:00:00', 'ts': 1741024800}, {'aqi': 149, 'co': 308.9, 'datetime': '2025-03-03:17', 'no2': 24, 'o3': 62.3, 'pm10': 64.3, 'pm25': 53.67, 'so2': 66.3, 'timestamp_local': '2025-03-03T22:30:00', 'timestamp_utc': '2025-03-03T17:00:00', 'ts': 1741021200}, {'aqi': 146, 'co': 286.4, 'datetime': '2025-03-03:16', 'no2': 24, 'o3': 73.7, 'pm10': 62.7, 'pm25': 52.33, 'so2': 70.7, 'timestamp_local': '2025-03-03T21:30:00', 'timestamp_utc': '2025-03-03T16:00:00', 'ts': 1741017600}, {'aqi': 142, 'co': 263.8, 'datetime': '2025-03-03:15', 'no2': 24, 'o3': 85, 'pm10': 61, 'pm25': 51, 'so2': 75, 'timestamp_local': '2025-03-03T20:30:00', 'timestamp_utc': '2025-03-03T15:00:00', 'ts': 1741014000}, {'aqi': 126, 'co': 219.4, 'datetime': '2025-03-03:14', 'no2': 19, 'o3': 96.3, 'pm10': 54, 'pm25': 45, 'so2': 65, 'timestamp_local': '2025-03-03T19:30:00', 'timestamp_utc': '2025-03-03T14:00:00', 'ts': 1741010400}, {'aqi': 110, 'co': 175.1, 'datetime': '2025-03-03:13', 'no2': 14, 'o3': 107.7, 'pm10': 47, 'pm25': 39, 'so2': 55, 'timestamp_local': '2025-03-03T18:30:00', 'timestamp_utc': '2025-03-03T13:00:00', 'ts': 1741006800}, {'aqi': 95, 'co': 130.7, 'datetime': '2025-03-03:12', 'no2': 9, 'o3': 119, 'pm10': 40, 'pm25': 33, 'so2': 45, 'timestamp_local': '2025-03-03T17:30:00', 'timestamp_utc': '2025-03-03T12:00:00', 'ts': 1741003200}, {'aqi': 94, 'co': 117.9, 'datetime': '2025-03-03:11', 'no2': 6.7, 'o3': 133.7, 'pm10': 40, 'pm25': 32.33, 'so2': 48, 'timestamp_local': '2025-03-03T16:30:00', 'timestamp_utc': '2025-03-03T11:00:00', 'ts': 1740999600}, {'aqi': 92, 'co': 105, 'datetime': '2025-03-03:10', 'no2': 4.3, 'o3': 148.3, 'pm10': 40, 'pm25': 31.67, 'so2': 51, 'timestamp_local': '2025-03-03T15:30:00', 'timestamp_utc': '2025-03-03T10:00:00', 'ts': 1740996000}, {'aqi': 101, 'co': 92.2, 'datetime': '2025-03-03:09', 'no2': 2, 'o3': 163, 'pm10': 40, 'pm25': 31, 'so2': 54, 'timestamp_local': '2025-03-03T14:30:00', 'timestamp_utc': '2025-03-03T09:00:00', 'ts': 1740992400}, {'aqi': 93, 'co': 94.5, 'datetime': '2025-03-03:08', 'no2': 2, 'o3': 154.3, 'pm10': 36, 'pm25': 28.67, 'so2': 48.7, 'timestamp_local': '2025-03-03T13:30:00', 'timestamp_utc': '2025-03-03T08:00:00', 'ts': 1740988800}, {'aqi': 82, 'co': 96.9, 'datetime': '2025-03-03:07', 'no2': 2, 'o3': 145.7, 'pm10': 32, 'pm25': 26.33, 'so2': 43.3, 'timestamp_local': '2025-03-03T12:30:00', 'timestamp_utc': '2025-03-03T07:00:00', 'ts': 1740985200}, {'aqi': 76, 'co': 99.2, 'datetime': '2025-03-03:06', 'no2': 2, 'o3': 137, 'pm10': 28, 'pm25': 24, 'so2': 38, 'timestamp_local': '2025-03-03T11:30:00', 'timestamp_utc': '2025-03-03T06:00:00', 'ts': 1740981600}, {'aqi': 77, 'co': 121.8, 'datetime': '2025-03-03:05', 'no2': 4, 'o3': 111.3, 'pm10': 27.3, 'pm25': 24.33, 'so2': 35, 'timestamp_local': '2025-03-03T10:30:00', 'timestamp_utc': '2025-03-03T05:00:00', 'ts': 1740978000}, {'aqi': 77, 'co': 144.3, 'datetime': '2025-03-03:04', 'no2': 6, 'o3': 85.7, 'pm10': 26.7, 'pm25': 24.67, 'so2': 32, 'timestamp_local': '2025-03-03T09:30:00', 'timestamp_utc': '2025-03-03T04:00:00', 'ts': 1740974400}, {'aqi': 78, 'co': 166.9, 'datetime': '2025-03-03:03', 'no2': 8, 'o3': 60, 'pm10': 26, 'pm25': 25, 'so2': 29, 'timestamp_local': '2025-03-03T08:30:00', 'timestamp_utc': '2025-03-03T03:00:00', 'ts': 1740970800}, {'aqi': 75, 'co': 155.8, 'datetime': '2025-03-03:02', 'no2': 7.7, 'o3': 58.7, 'pm10': 25, 'pm25': 23.67, 'so2': 26.7, 'timestamp_local': '2025-03-03T07:30:00', 'timestamp_utc': '2025-03-03T02:00:00', 'ts': 1740967200}, {'aqi': 72, 'co': 144.7, 'datetime': '2025-03-03:01', 'no2': 7.3, 'o3': 57.3, 'pm10': 24, 'pm25': 22.33, 'so2': 24.3, 'timestamp_local': '2025-03-03T06:30:00', 'timestamp_utc': '2025-03-03T01:00:00', 'ts': 1740963600}, {'aqi': 69, 'co': 133.6, 'datetime': '2025-03-03:00', 'no2': 7, 'o3': 56, 'pm10': 23, 'pm25': 21, 'so2': 22, 'timestamp_local': '2025-03-03T05:30:00', 'timestamp_utc': '2025-03-03T00:00:00', 'ts': 1740960000}, {'aqi': 69, 'co': 133.6, 'datetime': '2025-03-02:23', 'no2': 7, 'o3': 61.3, 'pm10': 23.3, 'pm25': 21, 'so2': 24, 'timestamp_local': '2025-03-03T04:30:00', 'timestamp_utc': '2025-03-02T23:00:00', 'ts': 1740956400}, {'aqi': 69, 'co': 133.6, 'datetime': '2025-03-02:22', 'no2': 7, 'o3': 66.7, 'pm10': 23.7, 'pm25': 21, 'so2': 26, 'timestamp_local': '2025-03-03T03:30:00', 'timestamp_utc': '2025-03-02T22:00:00', 'ts': 1740952800}, {'aqi': 69, 'co': 133.6, 'datetime': '2025-03-02:21', 'no2': 7, 'o3': 72, 'pm10': 24, 'pm25': 21, 'so2': 28, 'timestamp_local': '2025-03-03T02:30:00', 'timestamp_utc': '2025-03-02T21:00:00', 'ts': 1740949200}, {'aqi': 73, 'co': 142.8, 'datetime': '2025-03-02:20', 'no2': 8, 'o3': 72.3, 'pm10': 25.7, 'pm25': 22.67, 'so2': 30.3, 'timestamp_local': '2025-03-03T01:30:00', 'timestamp_utc': '2025-03-02T20:00:00', 'ts': 1740945600}, {'aqi': 77, 'co': 151.9, 'datetime': '2025-03-02:19', 'no2': 9, 'o3': 72.7, 'pm10': 27.3, 'pm25': 24.33, 'so2': 32.7, 'timestamp_local': '2025-03-03T00:30:00', 'timestamp_utc': '2025-03-02T19:00:00', 'ts': 1740942000}, {'aqi': 80, 'co': 161.1, 'datetime': '2025-03-02:18', 'no2': 10, 'o3': 73, 'pm10': 29, 'pm25': 26, 'so2': 35, 'timestamp_local': '2025-03-02T23:30:00', 'timestamp_utc': '2025-03-02T18:00:00', 'ts': 1740938400}, {'aqi': 84, 'co': 164, 'datetime': '2025-03-02:17', 'no2': 11.3, 'o3': 72.7, 'pm10': 31, 'pm25': 27.67, 'so2': 35.7, 'timestamp_local': '2025-03-02T22:30:00', 'timestamp_utc': '2025-03-02T17:00:00', 'ts': 1740934800}, {'aqi': 87, 'co': 166.9, 'datetime': '2025-03-02:16', 'no2': 12.7, 'o3': 72.3, 'pm10': 33, 'pm25': 29.33, 'so2': 36.3, 'timestamp_local': '2025-03-02T21:30:00', 'timestamp_utc': '2025-03-02T16:00:00', 'ts': 1740931200}, {'aqi': 91, 'co': 169.8, 'datetime': '2025-03-02:15', 'no2': 14, 'o3': 72, 'pm10': 35, 'pm25': 31, 'so2': 37, 'timestamp_local': '2025-03-02T20:30:00', 'timestamp_utc': '2025-03-02T15:00:00', 'ts': 1740927600}, {'aqi': 85, 'co': 145.7, 'datetime': '2025-03-02:14', 'no2': 11, 'o3': 84.7, 'pm10': 32, 'pm25': 28.33, 'so2': 33.7, 'timestamp_local': '2025-03-02T19:30:00', 'timestamp_utc': '2025-03-02T14:00:00', 'ts': 1740924000}, {'aqi': 80, 'co': 121.6, 'datetime': '2025-03-02:13', 'no2': 8, 'o3': 97.3, 'pm10': 29, 'pm25': 25.67, 'so2': 30.3, 'timestamp_local': '2025-03-02T18:30:00', 'timestamp_utc': '2025-03-02T13:00:00', 'ts': 1740920400}, {'aqi': 74, 'co': 97.5, 'datetime': '2025-03-02:12', 'no2': 5, 'o3': 110, 'pm10': 26, 'pm25': 23, 'so2': 27, 'timestamp_local': '2025-03-02T17:30:00', 'timestamp_utc': '2025-03-02T12:00:00', 'ts': 1740916800}, {'aqi': 71, 'co': 93.2, 'datetime': '2025-03-02:11', 'no2': 3.7, 'o3': 118, 'pm10': 25, 'pm25': 21.67, 'so2': 27.3, 'timestamp_local': '2025-03-02T16:30:00', 'timestamp_utc': '2025-03-02T11:00:00', 'ts': 1740913200}, {'aqi': 68, 'co': 88.9, 'datetime': '2025-03-02:10', 'no2': 2.3, 'o3': 126, 'pm10': 24, 'pm25': 20.33, 'so2': 27.7, 'timestamp_local': '2025-03-02T15:30:00', 'timestamp_utc': '2025-03-02T10:00:00', 'ts': 1740909600}, {'aqi': 68, 'co': 84.6, 'datetime': '2025-03-02:09', 'no2': 1, 'o3': 134, 'pm10': 23, 'pm25': 19, 'so2': 28, 'timestamp_local': '2025-03-02T14:30:00', 'timestamp_utc': '2025-03-02T09:00:00', 'ts': 1740906000}, {'aqi': 64, 'co': 87.7, 'datetime': '2025-03-02:08', 'no2': 1.3, 'o3': 128.3, 'pm10': 22, 'pm25': 18.33, 'so2': 29.3, 'timestamp_local': '2025-03-02T13:30:00', 'timestamp_utc': '2025-03-02T08:00:00', 'ts': 1740902400}, {'aqi': 62, 'co': 90.8, 'datetime': '2025-03-02:07', 'no2': 1.7, 'o3': 122.7, 'pm10': 21, 'pm25': 17.67, 'so2': 30.7, 'timestamp_local': '2025-03-02T12:30:00', 'timestamp_utc': '2025-03-02T07:00:00', 'ts': 1740898800}, {'aqi': 61, 'co': 94, 'datetime': '2025-03-02:06', 'no2': 2, 'o3': 117, 'pm10': 20, 'pm25': 17, 'so2': 32, 'timestamp_local': '2025-03-02T11:30:00', 'timestamp_utc': '2025-03-02T06:00:00', 'ts': 1740895200}, {'aqi': 65, 'co': 113.6, 'datetime': '2025-03-02:05', 'no2': 3.7, 'o3': 99, 'pm10': 21.7, 'pm25': 19, 'so2': 34.7, 'timestamp_local': '2025-03-02T10:30:00', 'timestamp_utc': '2025-03-02T05:00:00', 'ts': 1740891600}, {'aqi': 69, 'co': 133.3, 'datetime': '2025-03-02:04', 'no2': 5.3, 'o3': 81, 'pm10': 23.3, 'pm25': 21, 'so2': 37.3, 'timestamp_local': '2025-03-02T09:30:00', 'timestamp_utc': '2025-03-02T04:00:00', 'ts': 1740888000}, {'aqi': 74, 'co': 152.9, 'datetime': '2025-03-02:03', 'no2': 7, 'o3': 63, 'pm10': 25, 'pm25': 23, 'so2': 40, 'timestamp_local': '2025-03-02T08:30:00', 'timestamp_utc': '2025-03-02T03:00:00', 'ts': 1740884400}, {'aqi': 72, 'co': 144.3, 'datetime': '2025-03-02:02', 'no2': 6.7, 'o3': 63.7, 'pm10': 25, 'pm25': 22.33, 'so2': 35.7, 'timestamp_local': '2025-03-02T07:30:00', 'timestamp_utc': '2025-03-02T02:00:00', 'ts': 1740880800}, {'aqi': 71, 'co': 135.8, 'datetime': '2025-03-02:01', 'no2': 6.3, 'o3': 64.3, 'pm10': 25, 'pm25': 21.67, 'so2': 31.3, 'timestamp_local': '2025-03-02T06:30:00', 'timestamp_utc': '2025-03-02T01:00:00', 'ts': 1740877200}, {'aqi': 69, 'co': 127.2, 'datetime': '2025-03-02:00', 'no2': 6, 'o3': 65, 'pm10': 25, 'pm25': 21, 'so2': 27, 'timestamp_local': '2025-03-02T05:30:00', 'timestamp_utc': '2025-03-02T00:00:00', 'ts': 1740873600}, {'aqi': 70, 'co': 127.6, 'datetime': '2025-03-01:23', 'no2': 6.3, 'o3': 67.3, 'pm10': 26, 'pm25': 21.33, 'so2': 26.3, 'timestamp_local': '2025-03-02T04:30:00', 'timestamp_utc': '2025-03-01T23:00:00', 'ts': 1740870000}, {'aqi': 71, 'co': 128, 'datetime': '2025-03-01:22', 'no2': 6.7, 'o3': 69.7, 'pm10': 27, 'pm25': 21.67, 'so2': 25.7, 'timestamp_local': '2025-03-02T03:30:00', 'timestamp_utc': '2025-03-01T22:00:00', 'ts': 1740866400}, {'aqi': 72, 'co': 128.4, 'datetime': '2025-03-01:21', 'no2': 7, 'o3': 72, 'pm10': 28, 'pm25': 22, 'so2': 25, 'timestamp_local': '2025-03-02T02:30:00', 'timestamp_utc': '2025-03-01T21:00:00', 'ts': 1740862800}, {'aqi': 76, 'co': 139.5, 'datetime': '2025-03-01:20', 'no2': 8, 'o3': 71, 'pm10': 30, 'pm25': 24, 'so2': 27.3, 'timestamp_local': '2025-03-02T01:30:00', 'timestamp_utc': '2025-03-01T20:00:00', 'ts': 1740859200}, {'aqi': 80, 'co': 150.6, 'datetime': '2025-03-01:19', 'no2': 9, 'o3': 70, 'pm10': 32, 'pm25': 26, 'so2': 29.7, 'timestamp_local': '2025-03-02T00:30:00', 'timestamp_utc': '2025-03-01T19:00:00', 'ts': 1740855600}, {'aqi': 85, 'co': 161.7, 'datetime': '2025-03-01:18', 'no2': 10, 'o3': 69, 'pm10': 34, 'pm25': 28, 'so2': 32, 'timestamp_local': '2025-03-01T23:30:00', 'timestamp_utc': '2025-03-01T18:00:00', 'ts': 1740852000}, {'aqi': 89, 'co': 166.1, 'datetime': '2025-03-01:17', 'no2': 11.3, 'o3': 69.7, 'pm10': 36, 'pm25': 30, 'so2': 33.7, 'timestamp_local': '2025-03-01T22:30:00', 'timestamp_utc': '2025-03-01T17:00:00', 'ts': 1740848400}, {'aqi': 93, 'co': 170.6, 'datetime': '2025-03-01:16', 'no2': 12.7, 'o3': 70.3, 'pm10': 38, 'pm25': 32, 'so2': 35.3, 'timestamp_local': '2025-03-01T21:30:00', 'timestamp_utc': '2025-03-01T16:00:00', 'ts': 1740844800}, {'aqi': 98, 'co': 175.1, 'datetime': '2025-03-01:15', 'no2': 14, 'o3': 71, 'pm10': 40, 'pm25': 34, 'so2': 37, 'timestamp_local': '2025-03-01T20:30:00', 'timestamp_utc': '2025-03-01T15:00:00', 'ts': 1740841200}, {'aqi': 89, 'co': 150.6, 'datetime': '2025-03-01:14', 'no2': 11, 'o3': 86.7, 'pm10': 36, 'pm25': 30, 'so2': 35.3, 'timestamp_local': '2025-03-01T19:30:00', 'timestamp_utc': '2025-03-01T14:00:00', 'ts': 1740837600}, {'aqi': 80, 'co': 126.1, 'datetime': '2025-03-01:13', 'no2': 8, 'o3': 102.3, 'pm10': 32, 'pm25': 26, 'so2': 33.7, 'timestamp_local': '2025-03-01T18:30:00', 'timestamp_utc': '2025-03-01T13:00:00', 'ts': 1740834000}, {'aqi': 72, 'co': 101.5, 'datetime': '2025-03-01:12', 'no2': 5, 'o3': 118, 'pm10': 28, 'pm25': 22, 'so2': 32, 'timestamp_local': '2025-03-01T17:30:00', 'timestamp_utc': '2025-03-01T12:00:00', 'ts': 1740830400}, {'aqi': 75, 'co': 96.5, 'datetime': '2025-03-01:11', 'no2': 3.7, 'o3': 126, 'pm10': 30.7, 'pm25': 23.67, 'so2': 33.7, 'timestamp_local': '2025-03-01T16:30:00', 'timestamp_utc': '2025-03-01T11:00:00', 'ts': 1740826800}], 'lat': 18.1124, 'lon': 79.0193, 'state_code': '40', 'timezone': 'Asia/Kolkata'}

In [3]:
import pandas as pd
data = response.json()['data']
data = pd.DataFrame(data)
data

,aqi,co,datetime,no2,o3,pm10,pm25,so2,timestamp_local,timestamp_utc,ts
0,72,80.5,2025-03-04:10,3.3,134.0,38.7,22.00,23.0,2025-03-04T15:30:00,2025-03-04T10:00:00,1741082400
1,76,73.5,2025-03-04:09,2.0,141.0,37.0,21.00,18.0,2025-03-04T14:30:00,2025-03-04T09:00:00,1741078800
2,72,80.9,2025-03-04:08,2.0,138.0,34.7,20.67,17.0,2025-03-04T13:30:00,2025-03-04T08:00:00,1741075200
3,69,88.3,2025-03-04:07,2.0,135.0,32.3,20.33,16.0,2025-03-04T12:30:00,2025-03-04T07:00:00,1741071600
4,67,95.7,2025-03-04:06,2.0,132.0,30.0,20.00,15.0,2025-03-04T11:30:00,2025-03-04T06:00:00,1741068000
...,...,...,...,...,...,...,...,...,...,...,...
67,98,175.1,2025-03-01:15,14.0,71.0,40.0,34.00,37.0,2025-03-01T20:30:00,2025-03-01T15:00:00,1740841200
68,89,150.6,2025-03-01:14,11.0,86.7,36.0,30.00,35.3,2025-03-01T19:30:00,2025-03-01T14:00:00,1740837600
69,80,126.1,2025-03-01:13,8.0,102.3,32.0,26.00,33.7,2025-03-01T18:30:00,2025-03-01T13:00:00,1740834000
70,72,101.5,2025-03-01:12,5.0,118.0,28.0,22.00,32.0,2025-03-01T17:30:00,2025-03-01T12:00:00,1740830400
71,75,96.5,2025-03-01:11,3.7,126.0,30.7,23.67,33.7,2025-03-01T16:30:00,2025-03-01T11:00:00,1740826800

In [4]:
data['city_name'] = 'Talengana'
data

,aqi,co,datetime,no2,o3,pm10,pm25,so2,timestamp_local,timestamp_utc,ts,city_name
0,72,80.5,2025-03-04:10,3.3,134.0,38.7,22.00,23.0,2025-03-04T15:30:00,2025-03-04T10:00:00,1741082400,Talengana
1,76,73.5,2025-03-04:09,2.0,141.0,37.0,21.00,18.0,2025-03-04T14:30:00,2025-03-04T09:00:00,1741078800,Talengana
2,72,80.9,2025-03-04:08,2.0,138.0,34.7,20.67,17.0,2025-03-04T13:30:00,2025-03-04T08:00:00,1741075200,Talengana
3,69,88.3,2025-03-04:07,2.0,135.0,32.3,20.33,16.0,2025-03-04T12:30:00,2025-03-04T07:00:00,1741071600,Talengana
4,67,95.7,2025-03-04:06,2.0,132.0,30.0,20.00,15.0,2025-03-04T11:30:00,2025-03-04T06:00:00,1741068000,Talengana
...,...,...,...,...,...,...,...,...,...,...,...,...
67,98,175.1,2025-03-01:15,14.0,71.0,40.0,34.00,37.0,2025-03-01T20:30:00,2025-03-01T15:00:00,1740841200,Talengana
68,89,150.6,2025-03-01:14,11.0,86.7,36.0,30.00,35.3,2025-03-01T19:30:00,2025-03-01T14:00:00,1740837600,Talengana
69,80,126.1,2025-03-01:13,8.0,102.3,32.0,26.00,33.7,2025-03-01T18:30:00,2025-03-01T13:00:00,1740834000,Talengana
70,72,101.5,2025-03-01:12,5.0,118.0,28.0,22.00,32.0,2025-03-01T17:30:00,2025-03-01T12:00:00,1740830400,Talengana
71,75,96.5,2025-03-01:11,3.7,126.0,30.7,23.67,33.7,2025-03-01T16:30:00,2025-03-01T11:00:00,1740826800,Talengana

In [5]:
data.to_csv('datasets/Talengana.csv')